target/project-1.0-SNAPSHOT/WEB-INF/lib/jackson-databind-2.8.8.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jandex-2.0.0.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/javassist-3.21.0-GA.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/javax.transaction-api-1.2.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jboss-logging-3.3.1.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jcl-over-slf4j-1.7.25.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jul-to-slf4j-1.7.25.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/log4j-over-slf4j-1.7.25.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/logback-classic-1.1.11.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/logback-core-1.1.11.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/mysql-connector-java-5.1.41.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/persistence-api-1.0.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.25.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/snakeyaml-1.17.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-aop-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-aspects-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-beans-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-autoconfigure-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-aop-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-data-jpa-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-jdbc-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-logging-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-web-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-context-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-core-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-data-commons-1.13.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-data-jpa-1.11.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-expression-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-jdbc-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-orm-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-tx-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-web-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-webmvc-4.3.8.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/tomcat-embed-core-8.5.14.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/tomcat-embed-el-8.5.14.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/tomcat-embed-jasper-8.5.14.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/tomcat-jdbc-8.5.14.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/tomcat-juli-8.5.14.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/validation-api-1.1.0.Final.jar
target/test-classes/.netbeans_automatic_build
target/project-1.0-SNAPSHOT/WEB-INF/lib/antlr-2.7.7.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/aspectjweaver-1.8.10.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/classmate-1.3.3.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/dom4j-1.6.1.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/ecj-4.6.1.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/hibernate-commons-annotations-5.0.1.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/hibernate-core-5.0.12.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/hibernate-entitymanager-5.0.12.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/hibernate-jpa-2.1-api-1.0.0.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/hibernate-validator-5.3.5.Final.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jackson-annotations-2.8.0.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/jackson-core-2.8.8.jar
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/Application.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/controller/MainController.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/controller/SampleRestController.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/dao/TaskRepository.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/model/Task.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/TaskService.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/endorsed/javaee-endorsed-api-7.0.jar
target/maven-archiver/pom.properties
target/classes/com/project/service/TaskService.class
target/classes/com/project/model/Task.class
target/classes/com/project/dao/TaskRepository.class
target/classes/com/project/controller/SampleRestController.class
target/classes/com/project/controller/MainController.class
target/classes/com/project/Application.class
target/classes/.netbeans_automatic_build
target/project-1.0-SNAPSHOT/META-INF/context.xml
target/project-1.0-SNAPSHOT.war
target/project-1.0-SNAPSHOT/static/css/bootstrap.min.css
target/project-1.0-SNAPSHOT/static/fonts/glyphicons-halflings-regular.eot
target/project-1.0-SNAPSHOT/static/fonts/glyphicons-halflings-regular.svg
target/project-1.0-SNAPSHOT/static/fonts/glyphicons-halflings-regular.ttf
target/project-1.0-SNAPSHOT/static/fonts/glyphicons-halflings-regular.woff
target/project-1.0-SNAPSHOT/static/fonts/glyphicons-halflings-regular.woff2
target/project-1.0-SNAPSHOT/static/js/bootstrap.js
target/project-1.0-SNAPSHOT/static/js/bootstrap.min.js
target/project-1.0-SNAPSHOT/static/js/html5shiv.min.js
target/project-1.0-SNAPSHOT/static/js/jquery.placeholder.js
target/project-1.0-SNAPSHOT/static/js/jquery-1.11.1.min.js
target/project-1.0-SNAPSHOT/static/js/npm.js
target/project-1.0-SNAPSHOT/WEB-INF/jsp/index.jsp
target/project-1.0-SNAPSHOT/static/css/style.css
target/classes/com/project/model/Role.class
target/classes/com/project/model/User.class
target/classes/com/project/controller/UserController.class
target/classes/com/project/dao/RoleRepository.class
target/classes/com/project/dao/UserRepository.class
target/classes/com/project/service/SecurityService.class
target/classes/com/project/service/SecurityServiceImpl.class
target/classes/com/project/service/UserDetailsServiceImpl.class
target/classes/com/project/service/UserService.class
target/classes/com/project/service/UserServiceImpl.class
target/classes/com/project/validator/UserValidator.class
target/classes/com/project/WebSecurityConfig.class
src/main/resources/messages.properties
target/classes/validation.properties
target/classes/messages.properties
target/maven-archiver/pom_BACKUP_1436.properties
target/maven-archiver/pom_BASE_1436.properties
target/maven-archiver/pom_LOCAL_1436.properties
target/maven-archiver/pom_REMOTE_1436.properties
target/project-1.0-SNAPSHOT/static/css/bootstrap.css
target/project-1.0-SNAPSHOT/static/css/common.css
target/project-1.0-SNAPSHOT/static/images/ligatyperow.png
target/project-1.0-SNAPSHOT/static/images/ligatyperow2.png
target/project-1.0-SNAPSHOT/WEB-INF/classes/application.properties
target/project-1.0-SNAPSHOT/WEB-INF/classes/validation.properties
target/project-1.0-SNAPSHOT/WEB-INF/jsp/login.jsp
target/project-1.0-SNAPSHOT/WEB-INF/jsp/register.jsp
target/project-1.0-SNAPSHOT/WEB-INF/jsp/registration.jsp
target/project-1.0-SNAPSHOT/WEB-INF/jsp/welcome.jsp
target/maven-archiver/pom.properties
target/project-1.0-SNAPSHOT/WEB-INF/classes/application.properties
target/project-1.0-SNAPSHOT/WEB-INF/classes/application.properties
target/classes/application.properties
target/classes/application.properties
target/classes/com/project/controller/BetController.class
target/classes/com/project/controller/BetControllerAdvice.class
target/classes/com/project/dao/BetRepository.class
target/classes/com/project/exception/APIException.class
target/classes/com/project/exception/InvalidRequestBodyException.class
target/classes/com/project/exception/ResourceNotFoundException.class
target/classes/com/project/model/Bet.class
target/classes/com/project/rest/ErrorMessage.class
target/project-1.0-SNAPSHOT/WEB-INF/jsp/bet.jsp
target/classes/com/project/service/BetService.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/controller/BetController.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/controller/UserController.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/dao/BetRepository.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/dao/RoleRepository.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/dao/UserRepository.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/model/Bet.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/model/Role.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/model/User.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/BetService.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/SecurityService.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/SecurityServiceImpl.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/UserDetailsServiceImpl.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/UserService.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/UserServiceImpl.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/validator/UserValidator.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/WebSecurityConfig.class
target/project-1.0-SNAPSHOT/WEB-INF/jsp/adminpanel.jsp
target/project-1.0-SNAPSHOT/WEB-INF/jsp/main.jsp
target/project-1.0-SNAPSHOT/WEB-INF/lib/hsqldb-2.3.3.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-boot-starter-security-1.5.3.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-security-config-4.2.2.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-security-core-4.2.2.RELEASE.jar
target/project-1.0-SNAPSHOT/WEB-INF/lib/spring-security-web-4.2.2.RELEASE.jar
target/classes/com/project/controller/TypeController.class
target/classes/com/project/dao/TypeRepository.class
target/classes/com/project/model/Type.class
target/classes/com/project/service/TypeService.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/controller/TypeController.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/dao/TypeRepository.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/model/Type.class
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/TypeService.class
target/classes/com/project/dao/GameRepository.class
target/classes/com/project/model/Game.class
target/classes/com/project/service/GameService.class
target/project-1.0-SNAPSHOT/Tomcat.dpf
target/classes/com/project/dto/GameDTO.class
target/classes/com/project/dto/MessageDTO$MessageDTOType.class
target/classes/com/project/dto/MessageDTO.class
target/classes/com/project/dto/RentDTO.class
target/classes/com/project/dto/SearchDTO.class
target/classes/com/project/dto/SearchObjectDTO.class
target/classes/com/project/dto/UserDTO.class
target/classes/com/project/model/Message.class
target/classes/com/project/service/MessageService.class
target/project-1.0-SNAPSHOT/WEB-INF/jsp/form
target/project-1.0-SNAPSHOT/WEB-INF/classes/com/project/service/GameService.class
target/classes/com/project/dto/TypeDTO.class
/target/